.container {
  width: 100vw;
  background-color: white;
  padding: 10px 0;
}

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 0;
  background-color: rgba(237, 231, 225, 1);
  width: 100% !important;
}

@media screen and (min-width: 500px) {
  .container {
    width: 500px;
  }

  .comment {
    width: 100% !important;
  }
}
